:host {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.image-gallery, .iframe-container {
  display: grid;
  grid-gap: 20px;
  margin-bottom: 30px;
}

img, iframe {
  max-width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  height: 450px;
  border: none;
}

.checkbox-container {
  margin-bottom: 20px;
}

input[type="checkbox"] {
  margin-right: 10px;
}
